body {
  background-color: bisque;
}
h1 {
  color: chocolate;
  font-style: normal;
  font-family: monospace;
}
h2 {
  color: chocolate;
  font-family: monospace;
  font-style: normal;
  padding: 4px;
}
button {
  background-color: burlywood;
  color: black;
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
  text-align: center;
  font-family: monospace;
  margin: 10px;
}
input {
  width: 200px;
  height: 35px;
}
.scorediv {
  display: flex;
  flex-wrap: wrap;
}
#timer {
  margin: auto;
  justify-content: center;
}
footer {
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 1px;
}

footer i {
  color: red;
}

footer a {
  color: darkcyan;
  text-decoration: none;
}
h4 {
  font-size: 20px;
  margin: 5px;
  text-transform: uppercase;
}
